# Binaries
bin/
obj/
packages/
*.nupkg
*.str
*.strFEM

# Local files
.vs/
.vscode/
*.csproj.user
FemDesign.Samples/**/Local/**

*/ExampleModels/**/*
*/ExampleModels/output/**/*
!*/ExampleModels/**/*.struxml
!*/ExampleModels/**/*.bsc
FemDesign.Examples/Grasshopper/Example 1 - A simple beam.struxml

!FemDesign.Examples/C#/Practical example - ResultsToJSON/*.str
!FemDesign.Examples/C#/Practical example - ResultsToJSON/*.strFEM
Icon