<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="7.36.23346.16351" targetFramework="net48" />
  <package id="GrasshopperAsyncComponent" version="1.2.3" targetFramework="net472" />
  <package id="RhinoCommon" version="7.36.23346.16351" targetFramework="net48" />
</packages>