<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamoVisualProgramming.DynamoServices" version="2.10.1.3976" targetFramework="net48" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="2.10.1.3976" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
</packages>