name: Build and run Tests

on:  
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:  
  tests:
    name: Tests
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5
        
      - name: Setup VSTest
        uses: darenm/Setup-VSTest@v1

      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE

      - name: Restore Packages
        run: nuget restore femdesign-api.sln

      - name: Build Solution
        run: |
          msbuild.exe femdesign-api.sln /p:platform="Any CPU" /p:configuration="Debug"
        
      - name: Run Tests
        run: >
          vstest.console.exe 
          .\FemDesign.Tests\bin\Debug\FemDesign.Tests.dll 
          /TestCaseFilter:"
            TestCategory!=FEM-Design required
            & TestCategory!=Performance
            & TestCategory!=IgnoreGithubActions
          "
